<nav>
    <div class="d-flex flex-row footer">


        <a class="d-flex flex-column align-items-center link" id="github" href="https://github.com/MorningPants">
            <div class="labelcontainer" id="githublabel">
                <p class="label">GitHub</p>
            </div>
            <i class="fa fa-github" aria-hidden="true"></i>
        </a>

        <a class="d-flex flex-column align-items-center link" id="linkedin" href="https://www.linkedin.com/in/hopkins-andy/">
            <div class="labelcontainer" id="linkedinlabel">
                <p class="label">LinkedIn</p>
            </div>
            <i class="fa fa-linkedin" aria-hidden="true"></i>
        </a>
        <a class="d-flex flex-column align-items-center link" id="catchafire" href="https://www.catchafire.org/profiles/1653896/">
            <div class="labelcontainer" id="catchafirelabel">
                <p class="label">Catchafire</p>
            </div>
            <img class="icon" src="images/Catchafire.png" width="20" height="24" />
        </a>

    </div>
</nav>