<nav>
    <div class="d-flex flex-row topbar">
        <NavLink class="d-flex flex-column align-items-center link" id="about" href="" Match="NavLinkMatch.All" style="text-decoration:none; position:relative;">
            <div class="oi oi-person" id="abouticon" aria-hidden="true"></div>
            <p class="label" id="aboutlabel">About</p>
        </NavLink>
        <NavLink class="d-flex flex-column align-items-center link" id="portfolio" href="portfolio" style="text-decoration:none; position:relative;">
            <div class="oi oi-book" id="portfolioicon" aria-hidden="true"></div>
            <p class="label" id="portfoliolabel">Portfolio</p>
        </NavLink>
        <NavLink class="d-flex flex-column align-items-center link" id="resume" href="resume" style="text-decoration:none; position:relative;">
            <div class="oi oi-file" id="resumeicon" aria-hidden="true"></div>
            <p class="label" id="resumelabel">Resume</p>
        </NavLink>
        <NavLink class="d-flex flex-column align-items-center link" id="contact" href="contact" style="text-decoration:none; position:relative;">
            <div class="oi oi-envelope-closed" id="contacticon" aria-hidden="true"></div>
            <p class="label" id="contactlabel">Contact</p>
        </NavLink>
    </div>
    <div class="titlebar">Andy Hopkins</div>
</nav>