
.leftText {
    width: 600px;
    text-align: end;
    margin: 20px;
}

.latest{
    width:600px;
    text-align:center;
}

.hexPic {
    filter: drop-shadow(3px 5px 2px gray);
    position: relative;
    z-index: 1;
    user-select: none;
}

.container {
    background: lightgray;
    border-radius: 45px;
    border: 2px solid darkgray;
    text-align: center;
    margin-bottom: 100px;
    margin-top: -20px;
    padding: 20px;
    filter: drop-shadow(3px 5px 7px gray);
}

.description{
    margin: auto;
}

.bold{
    font-weight: bold;
}

.green{
    color: seagreen;
}