@page "/"

<PageTitle>Andy Hopkins | About</PageTitle>

<h1>About me</h1>


<div class="d-flex justify-content-center flex-wrap">
    <div class="leftText">
        <h2>Dad. Massage Therapist. Programmer.</h2>
        <p>  After many years of running a successful Massage Therapy practice, Andy decided to pursue his passion for technology by teaching himself to code!  He has taken a variety of online courses to become familiar with many different languages and frameworks.  While developing games and passion projects in his spare time, he is also seeking full time employment in the field.</p>
    </div>
    <img class="shadow mw-100" width="600" src="images/Photo.jpg"/>
</div>